:root {
  --col-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

body {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.small-text {
  font-size: 30px;
}

.big-text {
  font-size: 50px;
}

.scrolling-text {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 1401px) {
  .icons-xxl {
    display: inline;
  }
  .icons-xs {
    display: none;
  }
}

@media (max-width: 1400px) {
  .icons-xs {
    display: inline;
  }
  .icons-xxl {
    display: none;
  }
}

.contains-icons {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
/* finished grid */
