:root {
  --col-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

body {
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-weight: 600;
}

.small-text {
  font-size: 30px;
}

.big-text {
  font-size: 50px;
}

.scrolling-text {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 1401px) {
  .icons-xxl {
    display: inline;
  }
  .icons-xs {
    display: none;
  }
}

@media (max-width: 1400px) {
  .icons-xs {
    display: inline;
  }
  .icons-xxl {
    display: none;
  }
}

.contains-icons {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
/* finished grid */

/* nav */
nav {
  background-color: #8493a9;
  padding: 22px 0;
}

@media (max-width: 1399px) {
  .nav-desktop {
    display: none;
  }
}

.nav-desktop ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.nav-desktop ul {
  list-style: none;
}

.nav-desktop li:last-of-type {
  border-radius: 5px;
  border-top: 2px solid #f1eed2;
  border-right: 5px solid #f1eed2;
  border-bottom: 2px solid #f1eed2;
  border-left: 5px solid #f1eed2;
  background: linear-gradient(
    90deg,
    #d9d6b4 -1.49%,
    #f1eed2 52.86%,
    #d9d6b4 99.82%
  );
  padding: 4px;
}

.row-nav {
  align-items: center;
}

/* burger menu */
.nav-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

@media (min-width: 1400px) {
  .nav-mobile {
    display: none;
  }
}

.mobile-nav-list {
  position: absolute;
  right: 200px;
}

.bar-burger-menu {
  background-color: black;
  width: 32px;
  height: 5.2px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bar-burger-menu:first-of-type {
  animation-name: bar-1-animation;
  animation-duration: 2s;
}

.bar-burger-menu:nth-of-type(2) {
  animation-name: bar-2-animation;
  animation-duration: 2s;
}

.bar-burger-menu:last-of-type {
  margin-bottom: 0;
  animation-name: bar-3-animation;
  animation-duration: 2s;
}

@keyframes bar-1-animation {
  from {
  }

  to {
    width: 30px;
    transform: rotate(45deg);
    margin-bottom: 0;
  }
}

@keyframes bar-2-animation {
  from {
  }

  to {
    width: 30px;
    transform: rotate(-45deg);
    margin-bottom: 0;
  }
}

@keyframes bar-3-animation {
  from {
  }

  to {
    display: none;
    opacity: 0;
    transform: rotate(-90deg);
  }
}
