:root {
  --col-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

body {
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-weight: 600;
}

@media (min-width: 1401px) {
  .icons-xxl {
    display: inline;
  }
  .icons-xs {
    display: none;
  }
}

@media (max-width: 1400px) {
  .icons-xs {
    display: inline;
  }
  .icons-xxl {
    display: none;
  }
}

.contains-icons {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
/* finished grid */

/* nav */
nav {
  background-color: #8493a9;
  padding: 22px 0;
}

@media (max-width: 1399px) {
  .nav-desktop {
    display: none;
  }
}

.nav-desktop ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.nav-desktop ul {
  list-style: none;
}

.nav-desktop li:last-of-type {
  border-radius: 5px;
  border-top: 2px solid #f1eed2;
  border-right: 5px solid #f1eed2;
  border-bottom: 2px solid #f1eed2;
  border-left: 5px solid #f1eed2;
  background: linear-gradient(
    90deg,
    #d9d6b4 -1.49%,
    #f1eed2 52.86%,
    #d9d6b4 99.82%
  );
  padding: 4px;
}

.row-nav {
  align-items: center;
}

/* burger menu */
.nav-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

@media (min-width: 1400px) {
  .nav-mobile {
    display: none;
  }
}

.mobile-nav-list {
  position: absolute;
  right: 100px;
  top: 100px;
  background-color: #8493a9;
  height: calc(100%-70px);
}

.mobile-nav-list ul {
  list-style: none;
}

.mobile-nav-list li {
  margin-bottom: 50px;
  padding: 36px 13px;
  text-align: right;
}

.mobile-nav-list li:last-of-type {
  text-align: center;
  border-radius: 5px;
  border-top: 2px solid #f1eed2;
  border-right: 5px solid #f1eed2;
  border-bottom: 2px solid #f1eed2;
  border-left: 5px solid #f1eed2;
  background: linear-gradient(
    90deg,
    #d9d6b4 -1.49%,
    #f1eed2 52.86%,
    #d9d6b4 99.82%
  );
  padding: 4px;
}

/* burger menu animation*/
.bar-burger-menu {
  background-color: black;
  width: 32px;
  height: 5.2px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bar-burger-menu:first-of-type {
  animation-name: bar-1-animation;
  animation-duration: 2s;
}

.bar-burger-menu:nth-of-type(2) {
  animation-name: bar-2-animation;
  animation-duration: 2s;
}

.bar-burger-menu:last-of-type {
  margin-bottom: 0;
  animation-name: bar-3-animation;
  animation-duration: 2s;
}

/* @keyframes bar-1-animation {
  from {
  }

  to {
    width: 30px;
    transform: rotate(45deg);
    margin-bottom: 0;
  }
}

@keyframes bar-2-animation {
  from {
  }

  to {
    width: 30px;
    transform: rotate(-45deg);
    margin-bottom: 0;
  }
}

@keyframes bar-3-animation {
  from {
  }

  to {
    display: none;
    opacity: 0;
    transform: rotate(-90deg);
  }
} */
/* end of nav */

/* header */
@media (max-width: 1399px) {
  header {
    background-color: black;
    padding: 36px 0px 27px 0px;
  }

  header img {
    width: 200px;
  }

  header span {
    margin-top: -18px;
    padding: 8px 10px;
    color: #141414;
    text-align: center;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    border-top: 2px solid #f1eed2;
    border-right: 4px solid #f1eed2;
    border-bottom: 2px solid #f1eed2;
    border-left: 4px solid #f1eed2;
    background: linear-gradient(
      270deg,
      #d9d6b4 0%,
      #f1eed2 48.96%,
      #d9d6b4 100%
    );
  }

  .header-col-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  header {
    background-image: url(../img/header-bck.png);
    background-color: black;
    background-size: cover;
    padding: 170px 0px 65px 0px;
  }

  header span {
    padding: 15px 20px;
    color: #141414;
    font-family: Rexlia;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    border-top: 4px solid #f1eed2;
    border-right: 7px solid #f1eed2;
    border-bottom: 4px solid #f1eed2;
    border-left: 2px solid #f1eed2;
    background: linear-gradient(
      90deg,
      #d9d6b4 0.25%,
      #f1eed2 50.03%,
      #d9d6b4 99.81%
    );
  }

  header img {
    height: 580px;
  }

  .header-col-container-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .header-col-container-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .cta-events {
    margin-top: 200px;
    margin-left: -75px;
  }

  .cta-menu {
    margin-top: 320px;
    margin-right: -75px;
    z-index: 1;
  }

  .text-slider {
    background-color: black;
    color: #8493a9;
  }

  .text-slider span {
    display: inline-block;
    animation: slider 20s linear infinite;
    text-align: center;
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
